<h1 mat-dialog-title>Add Positive Pool</h1>
<div mat-dialog-content>
  <p>Enter an email (ex: hanseljt@rose-hulman.edu) for each individual</p>
  <mat-form-field appearance="fill">
    <mat-label>Person 1</mat-label>
    <input [(ngModel)]="data.person1Info" matInput>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Person 2</mat-label>
    <input [(ngModel)]="data.person2Info" matInput>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Person 3</mat-label>
    <input [(ngModel)]="data.person3Info" matInput>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Person 4</mat-label>
    <input [(ngModel)]="data.person4Info" matInput>
  </mat-form-field>
  <p></p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial> Submit </button>
</div>