<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar title={{title}}>
    <mat-grid-list cols="2">
      <mat-icon aria-hidden="false" style="padding-right: 10px; vertical-align: center;">home</mat-icon>
      <span style="vertical-align:text-bottom;">{{title}}</span>     
    </mat-grid-list>
  </mat-toolbar>
  <mat-grid-list cols="3" rowHeight="50px" gutterSize="5px">
    <mat-grid-tile routerLink="/dashboard">Dashboard</mat-grid-tile>
    <mat-grid-tile routerLink="/userlist">User List</mat-grid-tile>
    <mat-grid-tile routerLink="/case">Positive Cases</mat-grid-tile>
    <mat-grid-tile routerLink="/AssignedCases">Assigned Cases</mat-grid-tile>
  </mat-grid-list>

    <router-outlet></router-outlet>
</div>


