table {
    width: 100%;
    text-align: left;
}

.button-addPool {
    font-size: 23px;
    margin: 0px 5px;
    background-color: firebrick;
    color: floralwhite;
    display: inline-block;
    
}

.button-addPool:hover {
    font-size: 23px;
    margin: 0px 5px;
    background-color: firebrick;
    color: floralwhite;
    border-color: black;
    border-style: solid;
    display: inline-block;
    
}

.button-showOldPools {
    font-size: 23px;
    margin: 0px 5px;
    background-color: firebrick;
    color: floralwhite;
    display: inline-block;
    
}

.button-showOldPools:hover {
    font-size: 23px;
    margin: 0px 5px;
    background-color: firebrick;
    color: floralwhite;
    border-color: black;
    border-style: solid;
    display: inline-block;
    
}

.buttons {
    width: 800px;
    margin: 20px 0px;
    margin-left: 53%;
    display: inline-block;
    vertical-align: middle;
    
}