<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Name 1">
    <mat-header-cell *matHeaderCellDef> Name 1 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button (click)="openPage(row.people[0].id)"> {{getNameString(row.people[0])}}</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Name 2">
    <mat-header-cell *matHeaderCellDef> Name 2 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button (click)="openPage(row.people[1].id)"> {{getNameString(row.people[1])}}</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Name 3">
    <mat-header-cell *matHeaderCellDef> Name 3 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button (click)="openPage(row.people[2].id)"> {{getNameString(row.people[2])}}</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Name 4">
    <mat-header-cell *matHeaderCellDef> Name 4 </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button (click)="openPage(row.people[3].id)"> {{getNameString(row.people[3])}}</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</table>

<button mat-button 
    [ngClass]="['button-addPool']" (click)="openDialog()">Insert A New Pool</button>